# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

.vercel

old_version/
/src/generated/prisma

# Next.js & Local Database
.env
.env.local
.next/
dev.db

.vercel
